[submodule "external/clusterjob"]
	path = external/clusterjob
	url = https://github.com/timostrunk/clusterjob.git
[submodule "external/python-crontab"]
	path = external/python-crontab
	url = https://gitlab.com/doctormo/python-crontab.git
[submodule "external/python-daemon"]
	path = external/python-daemon
	url = https://pagure.io/python-daemon.git
[submodule "external/threadfarm"]
	path = external/threadfarm
	url = ssh://git@gitlab.nanobuild.de:2222/nanomatch/threadfarm.git
[submodule "external/treewalker"]
	path = external/treewalker
	url = ssh://git@gitlab.nanobuild.de:2222/nanomatch/treewalker.git
