[submodule "external/clusterjob"]
	path = external/clusterjob
	url = https://github.com/timostrunk/clusterjob.git
[submodule "external/python-crontab"]
	path = external/python-crontab
	url = https://gitlab.com/doctormo/python-crontab.git
